{% extends 'base.html' %}
{% load markdown_extras %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<meta property="og:type" content="article" />
<meta property="article:author" content="Marçal Junior" />
<meta property="og:description" content="{{post.description}}" />
<meta property="article:tag" content="Programming, Technology" />
<meta property="article:published_time" content="{{ post.created_at}}"/>
<meta property="og:image" content="{{ post.img}}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="600" />

{% endblock %}

{% block 'title' %}
{{ post.title }} by 
{% endblock %}

{% block 'main' %}
<div class="main">
  <div class="article">
    <div class="articleHeader">
      <h1>{{ post.title }}</h1>
      <p>{{ post.created_at }}</p>
    </div>
    <img loading="lazy" class="articleThumbnail" src="{{ post.img }}" alt="{{ post.id }}" width="100%"/>
    <div class="articleBody">
      <p>{{ post.description | markdown | safe }}</p>
      <br/>
      {{ post.body | markdown | safe }}
    </div>
  </div>

  {% endblock %}
