{% extends 'base.html' %}
{% load static %}
{% block 'title' %}
Email me, it's free - 
{% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/hire.css' %}"/>
<!-- Primary Meta Tags -->
<meta name="title" content="Email me, it's free - Marçal Junior">
<meta name="description" content="Email me, it's free, and a cat will notify me as soon as it arrives">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://marssaljr.herokuapp.com/hire/">
<meta property="og:title" content="Email me, it's free - Marçal Junior">
<meta property="og:description" content="Email me, it's free, and a cat will notify me as soon as it arrives">
<meta property="og:image" content="http://24.media.tumblr.com/1556f2dce297502022dcfec3dd122ef2/tumblr_n30spjmlU41svecmko1_400.gif">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://marssaljr.herokuapp.com/hire/">
<meta property="twitter:title" content="Email me, it's free - Marçal Junior">
<meta property="twitter:description" content="Email me, it's free, and a cat will notify me as soon as it arrives">
<meta property="twitter:image" content="http://24.media.tumblr.com/1556f2dce297502022dcfec3dd122ef2/tumblr_n30spjmlU41svecmko1_400.gif">
{% endblock %}

{% block 'main' %}
{% if messageSent %}
<div class="main">
  <div class="success">
    <h3>Thanks <strong>{{name}}</strong></h3>
    <p>Your message was successfully sent to my special mailbox!</p>
  </div>
</div>
{% else %}
<div class="main">
  {% if error %}
  <div class="error">
    <h3>Error <strong>{{error}}</strong></h3>
    <p></p>
  </div>
  {% endif %}
  <div class="formHand">
    <div class="title">
      <h1>Send a mail to me</h1>
      <p>It's free</p>
    </div>
    <form class="form" method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="inputButton">Send</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
