{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<meta name="title" content="Marçal Junior">
<meta name="description" content="Hello Friend, This site is my personal portfolio where I share my public and private projects, and write a little about them, programming, and me, of course">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://marssaljr.herokuapp.com/">
<meta property="og:title" content="Marçal Junior">
<meta property="og:description" content="Hello Friend, This site is my personal portfolio where I share my public and private projects, and write a little about them, programming, and me, of course">
<meta property="og:image" content="https://marssaljr.herokuapp.com{% static 'images/67934997_2486080248280863_3208459755454464000_n.jpg' %}" />
<meta property="og:image:type" content="image/jpeg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://marssaljr.herokuapp.com/">
<meta property="twitter:title" content="Marçal Junior">
<meta property="twitter:description" content="Hello Friend, This site is my personal portfolio where I share my public and private projects, and write a little about them, programming, and me, of course">
<meta property="twitter:image" content="https://marssaljr.herokuapp.com{% static 'images/67934997_2486080248280863_3208459755454464000_n.jpg' %}" />

{% endblock %}

{% block 'main' %}
<div class="main">
  <div class="objects">
    <img class="personalPhotoi" src="{% static 'images/pic.svg' %}" alt="me"/>
    <div class="text">
      <div class="textIntro">
        <h1>Marçal Junior</h1>
        <p>Full Stack Web Developer</p>
      </div>
      <p class="textHistory">
        I'm a hobbyist Web Developer who study development since 10 years
        old. I have a solid familiarity of Development procedure and
        Security... I am nowadays growing my skillset by studying Node,
        Next, along with Django, and Tests. I believe that with my current
        experience I would be an excellent choice for Pleno Level/Mid-level
        developer.
      </p>
      <div class="socialsBadges" style="margin-top: 1rem;">
        <a style="margin: 0.5rem;" target="_blank" href="https://linkedin.com/in/marssaljr">
          <i class="devicon-linkedin-plain"></i>
        </a>
        <a target="_blank" href="https://github.com/marssaljr">
          <i class="devicon-github-original"></i>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
