.textIntro {
  margin-bottom: 2rem;
}

.text {
  margin-top: 3.5vh;
  max-width: 409px;
  max-height: 168px;
}

.textIntro h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 85px;
}

.textIntro p {
  font-family: Roboto;
  line-height: 21px;
  letter-spacing: 0.485em;
}

.textHistory {
  font-family: "Roboto Slab", "Playfair Display", serif;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  font-weight: 300;
}

.objects {
  display: flex;
  padding: 10px;
  gap: 5vw;
  margin: 10vh auto;
}

.link {
  color: var(--clr-primary);
}
.whoami {
  margin: 1rem;
}
.whoamitext {
  font-family: "Charter";
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.5;
  word-spacing: 2px;
  white-space: wrap;
  letter-spacing: -0.003em;
  line-height: 32px;
  font-size: 21px;
  margin-bottom: 1.46em;
  word-break: break-word;
}

@media only screen and (max-width: 455px) {
  .textIntro h1 {
    font-size: 12vw;
  }
  .socialsBadges {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: list-item;
    padding: 1rem;
  }
}

@media only screen and (max-width: 646px) {
  .personalPhotoi {
    max-width: 80%;
    margin: 0 auto;
  }
  .objects {
    flex-direction: column;
    height: 90vh;
  }
  .text {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) {
  .whoamitext {
    font-size: 18px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 380px) {
  .whoamitext {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .personalPhoto {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .personalPhoto {
    max-width: 50%;
    margin: 0 auto;
    border-radius: 10%;
  }
  .whoami {
    display: flex;
    gap: 1rem;
  }
}
