.link {
  color: #fff;
  margin-top: 1rem;
  text-decoration: none;
  border: 1px solid #fafafa33;
  border-radius: 0.3rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.col-1 {
  max-width: 200px;
  max-height: 100px;
}

.col-2 {
}

.thumbnail {
  border-radius: 0.2rem;
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
  max-width: 200px;
  max-height: 100px;
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.articleId {
  /*margin: 0 auto;*/
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.articleLink {
  margin: 0 auto;
  cursor: pointer;
}

.article {
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.categories {
  display: inline-flex;
  gap: 10px;
  margin: 0.2rem;
  border-radius: 0.5rem;
  text-align: center;
  align-items: center;
}

.category {
  background-color: var(--clr-background);
  border: 1px solid var(--clr-foreground);
  padding: 0.5rem;
  font-size: 0.9rem;
}

.thumbnail {
  border-radius: 0.2rem;
  max-height: 80%;
  opacity: 0.9;
}

.description {
  font-family: "Roboto Slab", "Playfair Display", serif;
}

.description h2 {
  font-size: clamp(0.5rem, 3rem, 5rem);
}

@media only screen and (max-width: 768px) {
  .articleId {
    margin: 1rem;
  }
  .thumbnail {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    margin: 0 auto;
  }
  .description {
    margin-bottom: 1.5rem;
  }
  .description h2 {
    font-size: 10vw;
  }
  .description p {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    margin: 1.5em;
    max-width: 50%;
    min-width: 50%;
    margin-top: 0;
  }
  .description p {
    margin-top: 1rem;
    line-height: 1.6rem;
  }

  .articleId {
    flex-direction: row;
    margin: 2rem;
    padding: 2rem;
  }
  .thumbnail {
    min-width: 437px;
    min-height: 280px;
    max-width: 437px;
    max-height: 280px;
  }
}

@media screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
  .thumbnail {
    width: 500px;
    /* margin: 1rem; */
    max-width: 100%;
    max-height: none;
    height: 300px;
    object-fit: fill;
    border-radius: 0.2rem;
  }
  .col-1 {
    max-width: none;
    max-height: none;
  }
  .link {
    border: none;
  }
  .grid {
    margin: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .thumbnail {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .grid {
    margin: 1rem;
  }
}
