{% extends 'base.html' %}
{% load markdown_extras %}

{% load static %}
{% block 'title' %}
Projects of 
{% endblock %}
{% block 'head'%}
<link rel="stylesheet" href="{% static 'css/posts.css' %}"/>
{% endblock %}
{% block 'main' %}
<div class="main">
  {% for project in object_list %}
  <a class="articleLink" href="{% url 'project' project.id %}">
    <div class="articleId">
      <div class="col-1">
        <img loading="lazy" src="{{ project.img }}" class="thumbnail" width="100%"/>
      </div><!--col-1-->
      <div class="description">
        <h2>{{ project.title }}</h2>
        <div class="categories">
          {% for tag in project.tags.all %}
          <span class="category">
            <strong>{{ tag.name }}</strong>
          </span>
          {% endfor %}
        </div>
        <p>{{ project.description | markdown | safe }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
</div>
{% endblock %}
