.form {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-foreground);
  gap: 10px;
  border: 1px solid var(--clr-foreground);
  width: 500px;
  height: 350px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
}
.formHand {
  margin: 0 auto;
  align-items: center;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  margin: 5.5vh;
  justify-content: center;
}

.submitted {
  margin: auto;
  text-align: center;
  padding: 10%;
  font-style: italic;
  font-weight: bold;
  font-family: "Montserrat", "Playfair Display", "Roboto Slab", serif;
}

.inputButton {
  background-color: var(--clr-primary);
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all ease 2s;
}

.inputButton:hover,
.title p:hover,
.inputField:hover,
.textField:hover,
.inputField:focus-within {
  background-color: var(--clr-secondary);
  color: var(--clr-foreground);
  font-style: normal;
  font-family: "Montserrat", "Roboto Slab", "Playfair Display", serif;
  font-weight: bold;
  cursor: pointer;
}

.title h1 {
  font-family: "Montserrat", "Playfair Display";
  font-size: 64px;
  line-height: 3rem;
}
.title p {
  color: var(--clr-primary);
  font-family: "Roboto Slab";
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
  line-height: 2rem;
  margin: 0 auto;
  text-align: center;
}

.inputButton,
.inputField,
.textField {
  border: 1px solid var(--clr-foreground);
  border-radius: 0;
  width: 450px;
  height: 35px;
  padding: 5px;
  font-style: italic;
  font-size: 14px;
  font-family: "Playfair Display", "Roboto Slab", serif;
  background: var(--clr-background);
  color: var(--clr-primary);
  transition: all ease 200ms;
}

.inputField::placeholder,
.textField::placeholder {
  color: var(--clr-foreground);
}

.textField {
  height: 100px;
}

.inputField,
.textField {
  background: var(--clr-background);
  color: var(--clr-foreground);
}

@media only screen and (max-width: 524px) {
  .form {
    width: 100%;
  }
  .formHand {
    margin: 0.5rem;
  }
  .inputButton,
  .inputField,
  .textField {
    width: 80%;
  }
  .title h1 {
    font-size: 45px;
  }
}
