.fas {
  font-size: 16px;
  color: #eb5e28;
}

.menu {
  display: none;
}

.menu a {
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all 3s ease;
  font-weight: bold;
}

.menu a:hover {
  background-color: #353535;
  border: 1px solid #eb5e28;
  transform: scale(1.2);
}

.list {
  list-style: none;
  transition: all 3s ease;
  /* border: 1px solid #fff; */
  margin: 10px;
}

.list:hover {
  border-bottom: 1px solid #fff;
}

.dot {
  margin-bottom: 5px;
  right: auto;
  padding: 0px 1px 1px 37px;
  font-size: 10px;
  position: absolute;
}

.header {
  background: #131313;
  height: 78px;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MobileMenu {
  position: absolute;
  float: right;
  top: 9%;
  right: 0;
  transition-delay: 250ms;
  transition-property: display;
  z-index: 2;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  background: var(--clr-secondary);
  font-family: "Roboto", sans-serif;
  padding: 0;
  border-bottom-left-radius: 0.2rem;
}
.MobileMenu a {
  color: #fafafa;
}

#menuzin {
  display: none;
}

.MobileMenu li:hover {
  color: var(--clr-background);
}
.brand {
  margin: 1rem;
}
.mobileButton {
}
.logodesktop {
  display: none;
}

.mobileMenu {
  display: none;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: white;
  width: 1.3rem;
  height: auto;
  margin: 1rem;
}

.mobileMenu:hover {
  color: var(--clr-primary);
}

.menuicon {
  max-width: 30px;
}

@media only screen and (max-width: 768px) {
  .mobileMenu {
    display: block;
  }
  .MobileMenu {
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .logomobile {
    display: none;
  }
  .logodesktop {
    display: block;
  }
  .menu {
    display: flex;
  }
  .MobileMenu {
    display: none !important;
  }
}
